In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Train/Train.csv')

In [3]:
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.7500,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.0000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.0000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.5250,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.2500,NaN,Q,16,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,1.0,1.0,"Blank, Mr. Henry",male,40.0,0.0,0.0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
1005,3.0,0.0,"Laitinen, Miss. Kristina Sofia",female,37.0,0.0,0.0,4135,9.5875,NaN,S,NaN,NaN,NaN
1006,1.0,1.0,"Newell, Miss. Marjorie",female,23.0,1.0,0.0,35273,113.2750,D36,C,6,NaN,"Lexington, MA"
1007,3.0,1.0,"Nicola-Yarred, Master. Elias",male,12.0,1.0,0.0,2651,11.2417,NaN,C,C,NaN,NaN
1008,3.0,0.0,"Corn, Mr. Harry",male,30.0,0.0,0.0,SOTON/OQ 392090,8.0500,NaN,S,NaN,NaN,London

In [5]:
df1 =  pd.read_csv('titanic/train.csv')

In [6]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Train a classification model to predict the titanic passengers survival

In [9]:
# Convert the categorical features to numeric
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for col in df1.columns:
    if df1[col].dtype == 'object':
        df1[col] = encoder.fit_transform(df1[col])

In [14]:
df1['Cabin'].isna().sum()

0

In [12]:
for col in df1.columns:
    print(col,df1[col].isna().sum())

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 0
Embarked 0

In [18]:
df1['Age'].fillna(df1['Age'].mean(), inplace=True)    # Fill the missing values with the mean age

In [34]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df1, test_size=0.2)
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=0)
model.fit(df_train[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare','Sex','Fare','Embarked','Cabin']], df_train['Survived'])

RandomForestClassifier(random_state=0)

In [25]:
model.feature_names_in_

array(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex', 'Fare',
       'Embarked', 'Cabin'], dtype=object)

In [23]:
df_test.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [32]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [35]:
# Predict the output
df_test["Survived1"] = model.predict(df_test[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare','Sex','Fare','Embarked','Cabin']])

In [ ]:
# Score of the prediction
from sklearn import

In [36]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report, confusion_matrix
# Y_pred = model.predict(X_test)
# print(classification_report(Y_test,Y_pred))
print('The accuracy of Random forrest classification is:',metrics.accuracy_score(df_test['Survived1'],df_test['Survived'])*100,'%')
# print(confusion_matrix(Y_test,Y_pred))

The accuracy of Random forrest classification is: 77.6536312849162 %

In [38]:
test = pd.read_csv('titanic/test.csv')

In [40]:
# Convert the categorical features to numeric
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for col in test.columns:
    if test[col].dtype == 'object':
        test[col] = encoder.fit_transform(test[col])

In [42]:
test['Cabin'].isna().sum()

0

In [43]:
test['Age'].fillna(test['Age'].mean(), inplace=True)    # Fill the missing values with the mean age

In [45]:
test['Fare'].fillna(test['Fare'].mean(), inplace=True)    # Fill the missing values with the mean age

In [46]:
test['Embarked'].fillna('S', inplace=True)    # Fill the missing values with the mean age

In [49]:
# Predict the output
test["Survived"] = model.predict(test[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare','Sex','Fare','Embarked','Cabin']])

In [53]:
out = test[["PassengerId","Survived"]]

In [54]:
out

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         1
4            896         1
..           ...       ...
413         1305         1
414         1306         1
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [56]:
out.to_csv("result.csv", index=False)

In [66]:
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,108,1,22.000000,1,0,523,7.2500,147,2
1,2,1,190,0,38.000000,1,0,596,71.2833,81,0
2,3,3,353,0,26.000000,0,0,669,7.9250,147,2
3,4,1,272,0,35.000000,1,0,49,53.1000,55,2
4,5,3,15,1,35.000000,0,0,472,8.0500,147,2
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,548,1,27.000000,0,0,101,13.0000,147,2
887,888,1,303,0,19.000000,0,0,14,30.0000,30,2
888,889,3,413,0,29.699118,1,2,675,23.4500,147,2
889,890,1,81,1,26.000000,0,0,8,30.0000,60,0
890,891,3,220,1,32.000000,0,0,466,7.7500,147,1

In [97]:
X_train = df1.drop(columns=["Survived","Cabin"])
Y_train = df1.pop("Survived")

In [61]:
test = pd.read_csv('titanic/test.csv')

In [64]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [111]:
X_train =  X_train.drop(columns=["Ticket","Name"])

In [124]:
X_train = X_train.drop(columns=["Embarked"])

In [135]:
X_train = X_train.drop(columns=["PassengerId"])

In [70]:
# Convert the categorical features to numeric
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for col in test.columns:
    if test[col].dtype == 'object':
        test[col] = encoder.fit_transform(test[col])
test['Age'].fillna(test['Age'].mean(), inplace=True)  # Fill the missing values with the mean age
test['Fare'].fillna(test['Fare'].mean(), inplace=True)  # Fill the missing values with the mean age
test['Embarked'].fillna('S', inplace=True)

In [136]:
X_test = test.drop(columns=["Cabin","Ticket","Name","Embarked","PassengerId"])

In [137]:
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
clf = RandomForestClassifier()
clf.fit(X_train, Y_train)
Y_pred = pd.DataFrame(clf.predict(X_test))
# print(classification_report(Y_test,Y_pred))
# print(confusion_matrix(Y_test,Y_pred))
# print('The accuracy of decision Tree is:',metrics.accuracy_score(Y_pred,Y_test)*100,'%')

In [138]:
pd.DataFrame(clf.feature_importances_,clf.feature_names_in_)

               0
Pclass  0.092788
Sex     0.265680
Age     0.264378
SibSp   0.047702
Parch   0.037553
Fare    0.291899

In [139]:
test["Name"]

0      206
1      403
2      269
3      408
4      178
      ...
413    353
414    283
415    332
416    384
417    302
Name: Name, Length: 418, dtype: int32

In [140]:
Y_pred["PassengerId"] = test["PassengerId"]

In [141]:
Y_pred

     0  PassengerId
0    0          892
1    0          893
2    1          894
3    1          895
4    0          896
..  ..          ...
413  0         1305
414  1         1306
415  0         1307
416  0         1308
417  0         1309

[418 rows x 2 columns]

In [142]:
Y_pred.columns = ["Survived","PassengerId"]

In [143]:
Y_pred = Y_pred[["PassengerId","Survived"]]

In [144]:
Y_pred.to_csv("result.csv", index=False)